<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /foodoku_17/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /foodoku_17/index.php [L]
</IfModule>
